@use './assets/theme-colors' as theme;
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: theme.$primary-palette,
    typography: Roboto,
    density: 0
  ));
}

body.dark-mode {
  color-scheme: dark;
}

html, body {
  height: 100dvh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
